/* try any solution to reuse css properties */

:root {
    --primary-bg: dodgerblue;
    --primary-fg: black;
    --button-bg: #191913;
    --button-fg: #fff;
    --border-radius: 3vmin;
    --box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    --font-size-box: 8vmin;
    --font-size-btn: 1.25rem;
    --padding-btn: 1rem;
    --container-gap: 1.5vmin;
    --msg-fg: #080807;
    --msg-font-size: 5vmin;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: bisque; */
    /* choose right background and foreground colors */
    text-align: center;
}

.container {
    /* height: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.game {
    /* learn grid in depth and check different possibilities */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 60vmin;
    padding: var(--container-gap);
    gap: var(--container-gap);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* learn in depth on css units  */
/* 1920 * 1080 =>  60vmin
60% of 1080px = 648px
*/

/* 334 * 882 =>  60vmin
60% of 334px = 200px
*/
.box {
    height: 18vmin;
    border-radius: var(--border-radius);
    border: none;
    box-shadow: var(--box-shadow);
    font-size: var(--font-size-box);
    color: var(--primary-fg);
    background-color: var(--primary-bg);
}

#reset-btn,
#new-btn {
    padding: var(--padding-btn);
    font-size: var(--font-size-btn);
    background-color: var(--button-bg);
    color: var(--button-fg);
    border-radius: 1rem;
    border: none;
}

/* #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}*/

#msg {
    color: var(--msg-fg);
    font-size: var(--msg-font-size);
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}